*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;

}
/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: white;
}

.navbar-logo{
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    font-size: 18px;
}
.navbar-links{
    display: flex;
    align-items: center;
    gap: 24px;
}
.navbar-links a{
    text-decoration: none;
    color: #333;
}
.btn-search{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

/* Hero styles */
.hero {
    display: flex;
    align-items: center;
    padding: 60px 40px;
    gap: 40px;
    background-color: white;
    margin-top: 8px;
}
.hero-Image img{
    width: 100%;
    border-radius: 8px;
}
.hero-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.hero-content h1{
    font-size: 42px;
    font-weight: bold;
}
.hero-content p{
    color: #555;
    font-size: 16px;
    line-height: 1.5;
}
.btn-primary{
    background-color: #2ecc71;
    color: black;
    border: none;
    padding: 14px 32px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    width: fit-content;
}
